# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


# exe dependencies
src/main/resources/assets/bilibili_media/ffmpeg/ffmpeg.exe
src/main/resources/assets/bilibili_media/bbdown/BBDown.exe